.sign-in-content{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 7vh auto;
    padding: 2rem;
}
.sign-in-content h1{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0;
    margin: 5px 0 20px 0;
    
}
.sign-in-content i{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    font-size: 2rem;
}

.sign-in-content input{
    margin-bottom: 1rem;
    height: 1rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0.5rem;
}

 .input-remember{
    width: 100%;
    display: flex; 
}
.input-remember input{
    display: flex;
    width: 1rem;
    margin-right: 0.5rem;
} 
.sign-in-content button{
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #00bc77;
   border: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-decoration: underline 2px;
    cursor: pointer;
}
.sign-in-content .error-message{
    color: red;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

@media screen and (max-width: 600px) {
    .sign-in-content{
        width: 100%;
       margin: 0;
       
    }
    .sign-in-content h1{
        font-size: 1.2rem;
    }
    .sign-in-content i{
        font-size: 1.5rem;
    }
    .sign-in-content input{
        font-size: 0.8rem;
    }
    .sign-in-content button{
        font-size: 0.8rem;
    }
    .sign-in-content .error-message{
        font-size: 0.7rem;
    }
    
}